@{
}

@model IQueryable<Book>

<h1>The Bookstore</h1>

@foreach (Book b in Model)
{
    <h3>@b.Title</h3>
    <ul>
        <li>Book ID: @b.BookId</li>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>Isbn: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>PageCount: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
}

<a asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-action="Index" asp-route-pageNum="3">3</a>